.forgot-title {
  color: var(--primary-color);
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}

.btns {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel-btn {
  font-size: 18px;
  font-weight: 500;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--bg-color);
  line-height: 25px;
  padding: 5px 25px;
  border-radius: 5px;
}

.continune-btn {
  font-size: 18px;
  font-weight: 500;
  border: 2px solid var(--primary-color);
  color: var(--bg-color);
  background-color: var(--primary-color);
  line-height: 25px;
  padding: 5px 25px;
  border-radius: 5px;
}

.forgot-img img {
  height: 450px;
  width: 100%;
}

.forgot-img-icon{
    text-align: center;
    margin-top: 20px;
}

.forgot-img-icon img{
    width: 100px;
}