<section class="m-5">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="forgot-img">
              <img
                src="https://img.freepik.com/premium-vector/forgot-password-concept-isolated-white_263070-194.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="forgot-img-icon">
                <img src="https://cdn-icons-png.freepik.com/512/6266/6266849.png" alt="">
            </div>
            <h4 class="forgot-title">FORGOT ACCOUNT DETAILS</h4>
            <form action="">
              <div class="mt-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter User Id/ Email Id"
                />
              </div>
              <div class="mt-3">
                <input type="text" class="form-control" placeholder="Captcha" />
              </div>
              <div class="btns">
                <button class="cancel-btn" routerLink="/">Back</button>
                <button class="continune-btn">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
