<section class="mt-5">
  <div class="modify-search-from">
    <div class="container">
      <form action="">
        <div class="row">
          <div class="col-md-2">
            <select class="form-control">
              <option value="">From</option>
              <option value="">Hindi</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="date" class="form-control" />
          </div>
          <div class="col-md-2">
            <select class="form-control">
              <option value="">To</option>
              <option value="">Hindi</option>
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-control">
              <option value="">All Classes</option>
              <option value="">Hindi</option>
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-control">
              <option value="">GENERAL</option>
              <option value="">Hindi</option>
            </select>
          </div>
          <div class="col-md-2">
            <button class="modify-search">Modify Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </div>
</section>