<section class="mt-5">
  <div class="modify-search-from">
    <div class="container">
      <form action="">
        <div class="row">
          <div class="col-md-2">
            <select class="form-control">
              <option value="">From</option>
              <option value="">Hindi</option>
            </select>
          </div>
          <div class="col-md-2">
            <input type="date" class="form-control" />
          </div>
          <div class="col-md-2">
            <select class="form-control">
              <option value="">To</option>
              <option value="">Hindi</option>
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-control">
              <option value="">All Classes</option>
              <option value="">Hindi</option>
            </select>
          </div>
          <div class="col-md-2">
            <select class="form-control">
              <option value="">GENERAL</option>
              <option value="">Hindi</option>
            </select>
          </div>
          <div class="col-md-2">
            <button class="modify-search">Modify Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 mt-3">
        <div class="card">
          <div class="fliter">
            <p>Refine Results</p>
            <p>Reset Filter</p>
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseOne"
                >
                  <span>JOURNEY CLASS</span>
                  <!-- <span>Select All</span> -->
                </button>
              </h2>
              <div
                id="panelsStayOpen-collapseOne"
                class="accordion-collapse collapse show"
              >
                <div class="accordion-body">
                  <form action="">
                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">AC First Classes</label>
                    </div>
                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">AC First Classes</label>
                    </div>
                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">AC First Classes</label>
                    </div>

                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">AC First Classes</label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseTwo"
                >
                  TRAIN TYPE
                </button>
              </h2>
              <div
                id="panelsStayOpen-collapseTwo"
                class="accordion-collapse collapse"
              >
                <div class="accordion-body">
                  <form action="">
                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for=""> GARIB RATH</label>
                    </div>
                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">ORTHER</label>
                    </div>
                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">Spacial Offer</label>
                    </div>

                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">AC First Classes</label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseThree"
                  aria-expanded="false"
                  aria-controls="panelsStayOpen-collapseThree"
                >
                  DEPARTURE TIME
                </button>
              </h2>
              <div
                id="panelsStayOpen-collapseThree"
                class="accordion-collapse collapse"
              >
                <div class="accordion-body">
                  <form action="">
                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for=""> GARIB RATH</label>
                    </div>
                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">ORTHER</label>
                    </div>
                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">Spacial Offer</label>
                    </div>

                    <div class="mt-3">
                      <input type="checkbox" />
                      <label for="">AC First Classes</label>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card train-details mt-3">
          <div class="card-header">ANVT HUMSAFAR (12595)</div>
          <div class="card-body">
            <p class="title">
              <span class="from">GORAKHPUR JN | Thu, 14 Mar</span>
              <span class="time">12:25</span>
              <span class="to">08:25 | ANAND VIHAR TRM | Fri, 15 Mar</span>
            </p>
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p
                      class="available-now"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Available Now
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p class="booked">Booked</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p
                      class="available-now"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Available Now
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p class="booked">Booked</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card train-details mt-3">
          <div class="card-header">ANVT HUMSAFAR (12595)</div>
          <div class="card-body">
            <p class="title">
              <span class="from">GORAKHPUR JN | Thu, 14 Mar</span>
              <span class="time">12:25</span>
              <span class="to">08:25 | ANAND VIHAR TRM | Fri, 15 Mar</span>
            </p>
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p
                      class="available-now"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Available Now
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p class="booked">Booked</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p
                      class="available-now"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Available Now
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p class="booked">Booked</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card train-details mt-3">
          <div class="card-header">ANVT HUMSAFAR (12595)</div>
          <div class="card-body">
            <p class="title">
              <span class="from">GORAKHPUR JN | Thu, 14 Mar</span>
              <span class="time">12:25</span>
              <span class="to">08:25 | ANAND VIHAR TRM | Fri, 15 Mar</span>
            </p>
            <div class="row">
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p
                      class="available-now"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Available Now
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p class="booked">Booked</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p
                      class="available-now"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      Available Now
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card">
                  <div class="date-now">
                    <p class="date">Thu, 14 Mar</p>
                    <p class="booked">Booked</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Book Sheet</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="">
          <h4>Choose AC</h4>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Book Now</button>
      </div>
    </div>
  </div>
</div>
