.modify-search {
  font-size: 18px;
  font-weight: 500;
  border: 2px solid var(--bg-color);
  color: var(--bg-color);
  background-color: var(--primary-color);
  line-height: 25px;
  padding: 4px;
  border-radius: 5px;
  width: 100%;
}

.modify-search-from {
  padding: 30px 5px;
  background-color: var(--primary-color);
}
